@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFE8FD;
}

.containerA{
  /* z-index: 1; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 30px;
  padding: 10%;
}

.title {
  font-size: 25px;
  margin: 0 0 30px;
  text-align: center;
}

.country{
  text-align: center;
  font-size: 25px;
}

img#flag {
  height: auto;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.search-box{
  margin-bottom: 15px;
  border-radius: 20px;
  width:100%;
}
.i .fa-tachometer{
 text-align: center;
}

.cardA {
 
  background: #FFE6E2;
  color: #C83421;
  padding: 5%;
  font-size: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(255 230 226 / 1);
  width: auto;
  height: auto;
  
}
.text{
  color: #EA8376;
}
.active{
  text-align: right;
}

.cardB{
  background: #D8FAF2;
  color: #0E8266;
  padding: 5%;
  font-size: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(216 250 242 / 1);
  width: auto;
  height: auto;
}
.textA{
  color: #20C09B;
}
.recovered{
  text-align: right;
}

.cardC{
  background: #D4F0FF;
  color: #105176;
  padding: 5%;
  font-size: 25px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(212 240 255 / 1);
  width: auto;
  height: auto;
}
.textB{
  color: #3EA0D7;
}
  

.all{
  text-align: right;
}


.cardCA{
  background: #FFFF;
  color: #A6DFFF;
  padding: 5%;
  font-size: 22px;
  margin-bottom: 15px;
  border-radius: 20px;
  border-style: solid;
  /* box-shadow: 0 3px 10px rgb(255 230 226 / 1); */
  width: auto;
  height: auto;
}

.textC{
  color: #000;
}
.cardCB{
  background: #FFFF;
  color: #F9D1CC; 
  padding: 5%;
  font-size: 22px;
  margin-bottom: 15px;
  border-radius: 20px;
  border-style: solid;
  /* box-shadow: 0 3px 10px rgb(255 230 226 / 1); */
  width: auto;
  height: auto;
}
.textD{
  color: #000;
  font-size: 22px;
}

.cardCD{
  background: #FFFF;
  color: #A0F5E1; 
  padding: 5%;
  font-size: 22px;
  margin-bottom: 15px;
  border-radius: 20px;
  border-style: solid;
  /* box-shadow: 0 3px 10px rgb(255 230 226 / 1); */
  width: auto;
  height: auto;
}
.textE{
  color: #000;
}

.cardCF{
  background: #FFFF;
  color: #C83400;
  padding: 5%;
  font-size: 22px;
  margin-bottom: 15px;
  border-radius: 20px;
  border-style: solid;
  /* box-shadow: 0 3px 10px rgb(255 230 226 / 1); */
  width: auto;
  height: auto;
}
.textF{
  font-size: 22px;
  color: #000;
}


@media screen and (max-width: 768px){
  .board {
    column-count: 1;
  }
  .display{
    column-count: 2;
  }
} 

 
 
@media screen and (max-width: 500px){
  .board {
    column-count: 1;
  }
  .display{
    column-count: 2;
  }
} 



